* {
  margin: 0; padding: 0;
}

.header {
  width: 100%; height: 125px;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}

.logo {
  float: left;
  display: inline-block;
  margin: 23px 0 0 13px;
}

.logo img {
  width: 120px;
  position: relative;
}

#srch {
  width: 75%;
  float:left;
  margin: 23px 0 0 15px;
}

.srch-br {
  width: 632px; height: 44px;
  float: left;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

input[title="Search"] {
  width: 500px;
  line-height: 34px;
  margin: 5px 0 0 10px;
  font-size: 18px;
  overflow: hidden;
  color: #888;
  border: none;
}

#mic, #mag {
  display: inline-block;
  float:right;
  margin-right: 11px
}

#mag {
  margin-top: 7px;
}

#mic {
  margin-top: 3px;
}

.usr-lnks {
  float: right;
  margin: 24px 25px 0 0;
}

#sqr, #bell, #initials {
  margin-left: 15px;
  float: left;
}

#bell {
  display: inline-block;
  margin-top: 6px;
  opacity: 0.75;
}

#sqr {
  display: inline-block;
  margin-top: 9px;
}

.srch-tabs {
  width: 632px;
}

div#srchbtns, .setting-tabs {
   margin: 22px 0 0 0;
   display: inline-block;
   float: left;
}

#all, #img-btn, #vids,
#maps, #news, #more, #settings, #tools {
  display: inline-block;
  padding: 0 16px 0 16px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  height: 31px;
}

#srchbtns a, .setting-tabs a {
  text-decoration: none;
  color: rgb(119, 119, 119);
}

#all  {
  color: rgb(66, 133, 244);
  font-weight: bold;
  border-bottom: 3px solid rgb(66, 133, 244);
}

#all a {
  color: rgb(66, 133, 244);
  font-weight: bold;
}

.setting-tabs {
  float: right;
}

.wrapper {
  padding: 0 0 0 150px;
  overflow: hidden;
}

#results-data {
  font-family: Arial;
  font-size: 13px;
  padding: 0px 8px 0 16px;
  line-height: 43px;
  color: rgb(128, 128, 128);
}

.results {
  width: 600px;
  float: left;
}

h1 a {
  font-family: Arial;
  font-size: 18px;
  color: rgb(26, 13, 171);
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.rslt-layout {
  margin: 0 0 25px 16px;
}


h1 a:hover, .rslt-layout a:hover, .sidebar-data a:hover,
.cur a:hover, .navend a:hover, .gry-txt a:hover  {
  text-decoration: underline;
}

.rslt-layout h3 {
  font-size: 14px;
  font-family: Arial;
  line-height: 16px;
  color: rgb(0, 102, 33);
  font-weight: normal;
}

.rslt-layout p {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18.2px;
  color: rgb(84, 84, 84);
}

.rslt-layout h4, .rslt-layout h4 a, .sidebar-data a {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: rgb(26, 13, 171);
  font-weight: normal;
}

.sidebar-r {
  width: 368px;
  float: left;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0,0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 16.12px;
  margin: 6px -32px 0 70px;
  padding: 0 0 7px 0;
}

.sidebar-r h2 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: rgb(34, 34, 34);
  line-height: 22.32px;
  font-weight: normal;
  padding: 15px 15px 0 15px;
}

.sidebar-data {
  font-family: Arial, sans-serif;
  font-size:13px;
  line-height: 16px;
  padding: 10px 15px 8px 15px;
}

.btm-nav {
  width:632px;
  overflow: hidden;
  clear: left;
  margin-bottom: 10px;
}

#nav {
  margin: 0 auto;
}

nav.ftr-nav {
  border-collapse: collapse;
  text-align: left;
  margin: 0 auto;
}

.g {
  display: block;
  background-image: url(https://www.google.com/images/nav_logo242.png);
  background-position: -53px 0;
  width: 28px;
  height: 44px;
  background-position-x: -24px;
}

.navend, .cur {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: rgb(26, 13, 171);
  height: 55px;
  width: 20px;
  padding: 0;
  text-align: center;
}

.cur a, .navend a {
  color: rgb(66, 133, 244);
  text-decoration: none;
}

.csb {
  display: block;
  background-image: url(https://www.google.com/images/nav_logo242.png);
  background-position: -74px 0;
  width: 20px;
  height: 40px;
  margin-top: 10px;
}

.red-o {
  display: block;
  background-image: url(https://www.google.com/images/nav_logo242.png);
  background-position: -53px 0;
  width: 20px;
  height: 40px;
  margin-top: 10px;
}

.next {
  display: block;
  background-image: url(https://www.google.com/images/nav_logo242.png);
  background-position: -96px 0;
  width: 71px;
  height: 40px;
  margin-top: 10px;
}

.navend p {
  text-align: right;
}

.gry-box {
  display: block;
  background-color: rgb(242, 242, 242);
  height: 65px;
  width: 100%;
  padding: 18px 0 0 0;
  margin: 18px 0 0 0;
  border: 1px solid rgb(288, 288, 288);
}

.gry-txt {
  padding-left: 150px;
}

.gry-crcl {
  background-clip: border-box;
  background-color: rgb(158, 158, 158);
  background-origin: padding-box;
  border-radius:  100%;
  color: rgb(170, 170, 170);
  line-height: 15px;
  margin: 5px 4px 9px 0;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.location, .gry-txt a .lrn-more {
  font-family: Arial;
  font-size: 13px;
  color: rgb(170, 170, 170);
  line-height: 15px;
}

.gry-txt a, .gry-txt a .lrn-more {
  text-decoration: none;
  color: rgb(119, 119, 119);
}

.gry-nav a {
  padding: 0 0 0 27px;
  font-family: Arial;
  font-size: 13px;
  color: rgb(119, 119, 119);
  line-height: 40px;
}

.gry-nav .frst {
  padding-left: 0;
}
