body {
  font: 12px rgb(0, 0, 0);
  font-family: Helvetica, sans-serif;
}

header {
  height: 30px;
  width: 100%;
  font: 10px;
  margin: 0;
}

header a {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

#header-links {
  padding: 0 15px;
  float: right;
}

.head-lnks {
  margin-left: 15px;
}

#sqr, #bell {
  repeat: none;
  position: relative;
  top: 7px;
}

#bell {
  opacity: 0.75;
  margin-left: 10px;
}

#initials {
  repeat: none;
  position: relative;
  top: 12px;
  margin-left: 10px;
}

div#main {
  width:100%;
}

 #logo {
     padding-top: 150px;
 }

 #logo img {
   margin: 0 auto 0 auto;
   text-align: center;
   display: block;
  }

  .search {
    width: 500px;
    margin:0 auto;
  }

  #blnk {
    width: 500px;
    line-height: 30px;
    margin: 40px auto 0;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
   }

   #mic {
     position: relative;
     top: -33px;
     left: 485px;
   }

   #mic img {
     width: 28px;
   }

.srch-btns {
  margin: 0 auto;
  text-align: center;
}

   input[type="submit"] {
     background-color: #f2f2f2;
     border: #f2f2f2 1px solid;
     border-radius: 2px;
     cursor: default;
     color: #757575;
     height: 36px;
     line-height: 27px;
     font-family: Arial;
     font-size:13px;
     font-weight: bold;
     margin: 0 4px;
     padding: 0 16px;
     text-align: center;


   }
